@use "../../../commons.scss" as *;

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.hidden {
  display: none !important;
}

#title {
    position: absolute;
    font-size: 2.5em;
    top: 2px;
    font-family: $font-1;
    color: $color-background-dark;
    z-index: 9;
    text-align: center;
    background-color: $color-secondary;
    border-radius: 5px;
    padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

#chat-window {
    margin-top: 45px;
    padding: 3vh;
    background-color: $color-background-dark;
    border-radius: 5px;
    height: 85vh;
    width: 70vw;
    z-index: 9;
    box-shadow:
        rgba(0, 0, 0, 0.12) 0px 1px 3px,
        rgba(0, 0, 0, 0.24) 0px 1px 2px;
}


#chats {
    background-color: $color-secondary;
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
    height: 70vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
  scroll-behavior: smooth;
}

.chat {
    padding: 10px 15px;
    border-radius: 12px;
    position: relative;
    width: 50ch;
  box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}

.user-chat {
    align-self: flex-end;
    background-color: $color-background-light;
}

.ai-chat {
    align-self: flex-start;
    background-color: $some-shade-of-blue;
}
.ts {
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    right: 5px;
    bottom: 5px;
}
// DUMMY ADVOCATES

#advocate-contacts {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.advocate {
    background-color: $color-secondary;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;

    cursor: pointer;
    transition: scale 100ms ease;

    &:hover {
        scale: 101%;
    }
}

.image-container {
    background-color: $color-background-dark;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    display: flex;
    padding: 2px;
}

.advocate-pfp {
}

.advocate-info {
}

.advocate-name {
    font-size: 20px;
    font-weight: 600;
}

.advocate-description {
    font-size: 16px;
}

//

#input-window {
    margin-top: 2vh;
    background-color: $color-background-light; box-shadow:
        rgba(0, 0, 0, 0.12) 0px 1px 3px,
        rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1vw;
    padding-bottom: 2px;
    padding-top: 2px;
    height: 5ch;
}

#input-field {
    background-color: inherit;
    height: 100%;
    font-family: $font-2;
    font-size: 18px;
    width: 250ch;

    &:focus {
        outline: none;
    }
}

#mic-icon {
    filter: brightness(0);
    cursor: pointer;
}
