@use "/src/commons.scss" as *;

* {
  color: $font-color-primary;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  background-color: $color-background-dark;
  height: 85vh;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

#chat-window {
  display: flex;
  height: 80vh;
  width: 68vw;
  border-radius: 5px;
  background-color: $color-background-light;
  padding: 5px;
  gap: 5px;
  font-family: $font-2;
}

.panes {
  width: 33%;
  justify-content: stretch;
  background-color: $color-secondary;
  box-shadow:
    rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 5px;
  padding: 5px;
  position: relative;
}
.info-pane {
  height: 50px;
  border-radius: 5px;
  background-color: $color-primary;
  margin-bottom: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
  z-index: 5;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 32px;
}
#person-a {
}

#mediator {
  position: relative;
}

#person-b {
}

.chat {
  padding: 10px 15px;
  margin-top: 5px;
  border-radius: 12px;
  position: relative;
  width: 100%;
  background-color: $some-shade-of-blue;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  position: relative;
}

.mediator-chat {
  position: relative;
  background-color: $green;
}
#input-feild {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: calc(100% - 10px);
  font-family: $font-2;
  height: 2em;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;

  &:focus {
    outline: none;
  }
}

.party-accepted {
  background-color: $green;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  font-size: 12px;
  font-weight: 700;
  width: fit-content;
  position: absolute;
  left: 35%;
  margin-top: 10px;
}

.ts {
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.hidden {
  display: none !important;
}
