@use "/src/commons.scss" as *;

$text-color: $font-color-primary;

* {
  color: $font-color-primary;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

#content {
  width: 75vw;
}

#plans {
  display: flex;
  justify-content: center;
  align-items: stretch; // stretch both plans to equal height
  gap: 5vw;
  margin-top: 10vh;
  margin-bottom: 5vh;
  flex-wrap: wrap; // responsive on smaller screens

  #free,
  #paid {
    flex: 1 1 500px; // equal growth, min width 500px
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; // keeps button at bottom
    background-color: $color-background-dark; // panel background
    border-radius: 5px;

    box-shadow:
      rgba(0, 0, 0, 0.12) 0px 1px 3px,
      rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 20px;
  }

  #free .container,
  #paid .container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }

  .perks {
    li {
      margin-bottom: 15px;
      font-family: $font-2;
    }
  }

  .plans-title {
    font-weight: 600;
    font-size: 32px;
    padding-bottom: 10px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  background-color: $color-secondary;
  width: 100%;
  border-radius: 5px;
  padding: 5px 17px;
  box-shadow:
    rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#f,
#p {
  display: none;
}

#plans-link { 
  text-decoration: none;
}
.redirect-button {
  cursor: pointer;
  margin-top: 5vh;
  height: 7vh;
  width: 10vw;
  border-radius: 5px;
  transition:
    background-color 50ms ease-in-out,
    scale 50ms ease;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-2;
  background-color: $color-secondary;
  &:active {
    scale: 105%;
    background-color: $green;
  }
  &:hover {
    scale: 105%;
  }

  &:has(input[type="radio"]:checked) {
    filter: brightness(1);
    background-color: $green; // active button
    color: $color-background-base;
    scale: 105%;
  }

}

#info-form {
  background-color: $color-secondary; // soft background
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  position: relative;
}

.input-label {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 22px;
}

.input-feild {
  width: 50vw;
  outline: none;
  font-family: $font-2;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  box-shadow:
    rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border: 1px solid $color-background-dark;
}

#consents {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5vh;
  
  position: relative;
  left: 33%;
  
  gap: 5px;
  label {
    cursor: pointer;
  }
 
  input[type="checkbox"] {
    transform: scale(1.5);
  } 

  #consent-1, #consent-2 {

  }


}

#register-button {
  height: 5vh;
  width: 15vw;
  background-color: $color-primary; // base white
  font-family: $font-2;
  font-size: 28px;
  transition: background-color 100ms ease;
  margin-top: 10px;
  align-self: center;
  border-radius: 5px;

  cursor: pointer;

  &:hover {
    background-color: $green;
    color: $font-color-primary;
  }
}
