@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

$green: #708993;

// Primary / Accent Colors
$color-primary: #f1f6f9; // Deep teal-blue
$color-secondary: #9ba4b5; // Dark slate blue-gray

// Backgrounds
$color-background-dark: #212a3e; // Very dark slate / charcoal
$color-background-light: #9ba4b5; // Light grey / off-white

// Text / UI Elements
$color-text-muted: #748d92; // Muted steel blue / greyish blue

$font-color-primary: #222222;
// Backgrounds
$color-background-base: #212a31; // Very dark slate / charcoal
$color-background-light: #d3d9d4; // Light grey / off-white

$some-shade-of-blue: #7393b3;

$color-neutral-medium: #8f939a; // Darker medium grey for secondary text
$mist-gray: #d9dbe0; // Darker mist gray
// Fonts
$font-1: "Londrina Solid";
$font-2: "Raleway";

// Dots background colors
$dot-color: $color-neutral-medium; // Slightly darker than base for contrast
$dot-bg: $mist-gray; // darker than before

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --dot-size: 1px;
  --dot-space: 10px;
}

body {
  height: 100vh;
  width: 100vw;
  user-select: none;
  font-family: $font-2;
  overflow-y: scroll;
  // https://www.reddit.com/r/nextjs/comments/18t0gay/comment/kfaxz9x/
  background:
    linear-gradient(
        90deg,
        #{$dot-bg} calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        #{$dot-bg} calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    #{$dot-color};
}
